services:
  backend:
    build:
      context: ./Server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./Server:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    command: npm start

  frontend:
    build:
      context: ./Client
      dockerfile: Dockerfile
    ports:
      - "3000:80"  
    depends_on:
      - backend
